/* main */
html {
    background: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 50px;
}


/* Nav menu */
nav ul li{
    display: inline;
    margin: 10px;
}

nav ul li.selected{
    color: #e60376;
    text-decoration: none;
    font-size: 30px;
}


nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;

}

nav ul li a:hover {
    color: red;

}

/* logo */
img.logo {
    height: 150px;
    border: solid rgba(0, 0, 0, 0);
}

img.logo:hover {
    border: dashed #e60376;
    border-radius: 100%;
}